* { margin: 0; padding: 0; box-sizing: border-box; }

body {
	color: rgb(254,203,0);
	background-color: black;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}
h1 {
	font-family: 'Rye', cursive; /*western style display font*/
	font-size: 2.75em;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
}
h2, h3, h4, h5, h6 {
	font-family: 'Quando', serif;
	font-weight: 300;
}
section#hero {
	height: 90vh;
	position: relative;
	background-image: url('../images/main_lego.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	z-index: -1;
}
/*BEGIN HEADER*/
header {
	position: absolute;
	top: 20px;
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: .5em;
}
header div#logoLeft {
	float: left;
	width: 20%;
}
header div#logoLeft img {
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
header div#headMid {
	float: left;
	width: 60%;
	padding-top: 20px;
}
header div#logoRight {
	float: left;
	width: 20%;
}
header div#logoRight img {
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
nav {
	text-align: center;
}
nav a {
	text-decoration: none;
	font-family: helvetica, sans-serif;
	color: rgb(254,203,0);
	padding: 1.5em 0;
	letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: 300;
	width: 25%;
	display: block;
	float: left;
}
nav a:hover {
	color: red;
}
/*BEGIN HERO*/
section#hero div {
	position: absolute;
	top: 300px;
	left: 50px;
}
section#hero h2 {
	background-color: black;
	display: inline-block;
	margin-bottom: .3em;
	font-style: italic;
	text-align: left;
	color: white;
	padding: .3em;
	font-family: 'Rye', cursive;
	border-radius: 5px;
	text-transform: uppercase;
}
section#hero span {
	font-weight: bold;
	color: rgb(254,203,0);
}
/*BEGIN IMAGES*/
section#images {
	padding: 1px;
}
section#images > a + a img {
	padding-left: 1px;
}
section#images img {
	float: left;
	width: 25%;
	display: block;
}
/*BEGIN MENU*/
section#menu {
	padding: 4em;
}
section#menu h2 {
	letter-spacing: 3px;
}
div.foodPosition {
	float: left;
	padding: 0 2em;
	width: 50%;
}
div#meals {
	color: rgb(254,203,0);
}
div#meals div {
	margin: 1.25em auto 0;
}
div#meals h2 {
	text-align: center;
}
div#meals h3 {
	font-variant: small-caps;
	letter-spacing: 2px;
}
div#meals div p {
	letter-spacing: 1px;
	text-align: left;
}
div#extras {
	color: black;
}
div#extras div {
	vertical-align: top;
	text-align: left;
	background-color: rgb(254,203,90);
	border-radius: 8px;
	padding: 1.5em;
}
div#sides {
	margin-bottom: 0.5em;
}
div#extras ul {
	list-style-type: none;
	padding: .5em .5em 0;
	font-family: 'Muli', sans-serif;
}
/*BEGIN HOURS*/
section#hours {
	padding: 4em;
	background-color: rgb(254, 203, 90);
	color: black;
}
section#hours div h2 {
	text-align: center;
}
section#hours div div {
	width: 50%;
	float: left;
	vertical-align: top;
	padding: 2em 2em 0;
}
section#hours div h3 {
	font-variant: small-caps;
}
section#hours div p {
	text-align: left;
}
/*BEGIN TESTIMONIALS*/
section#testimonials {
	padding: 4em;
	background-color: rgb(61,111,255);
	color: white;
}
section#testimonials div h2 {
	text-align: center;
}
section#testimonials div div {
	float: left;
	width: 33%;
	padding: 2em 2em 0;
	text-align: left;
}
section#testimonials div h4 {
	font-variant: small-caps;
	margin-bottom: .5em;
}
footer {
	width: 100%;
	background-color: rgba(19,19,19,0.9);
	padding: 5px 0px;
	text-align: center;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/*
.clearfix {
	overflow: auto;
}*/
@media screen and (max-width: 800px) {
	header {
		top: 0;
		position: relative;
		background-color: black;
	}
	header div#headMid {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	header div#logoLeft, header div#logoRight {
		float: none;
		display: none;
	}
	nav a {
		font-size: 18px;
	}
	section#hero {
		display: none;
	}
	section#images img {
		float: none;
		width: 100%;
	}
	section#images > a + a img {
		padding-top: 1px;
		padding-left: 0;
	}
	section#menu {
		padding: 2em;
	}
	div.foodPosition {
		float: none;
		width: 100%;
	}
	div#extras {
		margin-top: 2em;
	}
	section#hours {
		padding: 2em;
	}
	section#hours div div {
		width: 100%;
		float: none;
	}
	section#testimonials {
		padding: 2em;
	}
	section#testimonials div div {
		float: none;
		width: 100%;
	}
	.wrapper {
		width: 80%;
	}
}
@media screen and (max-width: 550px) {
		div.foodPosition {
			padding: 0;
		}
		section#hours div div {
			padding: 1em 0 0;
		}
		section#testimonials div div {
			padding: 1em 0 0;
		}
		section#testimonials div h4 {
			margin-bottom: .25em;
		}
		nav a {
			float: none;
			width: 100%;
		}
		nav a + a {
			border-top: solid grey 1px;
		}
		.wrapper {
			width: 95%;
		}
	}